body {
    font-family: Consolas, monospace;
}

svg {
    height: 100%;
}

.graph {
    background-color: #ffffff;
}

.v-toolbar__content .v-input__control > .v-input__slot {
    margin-bottom: 0px;
}

.commit-tab-split > #pane_1 {
    overflow: auto;
}

pre {
    font-size: 0.75em;
    overflow: scroll;
    height: 400px;
}