<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>GitLost</title>
  <script src="https://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link href="https://unpkg.com/splitpanes/dist/splitpanes.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <script src="https://unpkg.com/splitpanes"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://d3js.org/d3.v5.js"></script>
  <script src="https://unpkg.com/viz.js@1.8.0/viz.js" type="javascript/worker"></script>
  <script src="https://unpkg.com/d3-graphviz@2.6.1/build/d3-graphviz.min.js"></script>
  <script src="client.js"></script>
  <link rel="stylesheet" href="graph.css" />
</head>

<body>
  <div id="app">
    <v-app id="gitlost">
      <v-app-bar app dark>
        <v-chip-group v-model="selected_repos_indexes" multiple>
          <v-chip v-for="repo in repos" filter outlined close v-bind:key="repo" @click:close="remove_repo(repo)">{{repo}}</v-chip>
        </v-chip-group>
        <div style="flex: 4;"></div>
        <v-text-field label="Add Repo" @keyup.enter.native="add_repo"></v-text-field>
      </v-app-bar>
      <v-content>
      <gitlost-graph inline-template v-for="index in selected_repos_indexes" :repo="repos[index]" :key="index">
        <v-card class="ma-4">
          <v-toolbar elevation="0" dark>
            <v-app-bar-nav-icon @click="toggleSidebar()"></v-app-bar-nav-icon>
            <v-toolbar-title>{{ repo }}</v-toolbar-title>
            <div class="flex-grow-1"></div>
            <v-select v-model="settings.draw_type" :items="draw_types" dense style="margin-right: 12px; max-width: 128px;"></v-select>
            <v-switch v-model="settings.include_forward" inset hide-details label="Forward" style="margin-right: 12px;"></v-switch>
            <v-btn-toggle v-model="settings.rankdir">
              <v-btn text value="LR"><v-icon>mdi-transfer-right</v-icon></v-btn>
              <v-btn text value="RL"><v-icon>mdi-transfer-left</v-icon></v-btn>
              <v-btn text value="BT"><v-icon>mdi-transfer-up</v-icon></v-btn>
              <v-btn text value="TB"><v-icon>mdi-transfer-down</v-icon></v-btn>
            </v-btn-toggle>
          </v-toolbar>
          <splitpanes class="default-theme" watch-slots @resized="sidebarSize = $event[0].width || 20">
            <v-sheet :splitpanes-size="sidebarSize" splitpanes-min="0" class="pa-2" style="background-color: #ffffff" elevation="0">
              <v-btn block :loading="loading" :disabled="loading" @click="updateGraph">Refresh Graph</v-btn>
              <v-text-field v-model="goto" label="find" clearable clear-icon="mdi-close-circle-outline" @keyup.enter.native="zoom_graph_on(goto)"></v-text-field>
              <v-expansion-panels accordion multiple :value="nav_expand">
                <v-expansion-panel>
                  <v-expansion-panel-header>Selected</v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-list shaped dense>
                      <v-list-item-group>
                        <draggable v-model="settings.branches">
                          <v-list-item dense v-for="node in settings.branches" :key="node.id">
                            <v-list-item-content>
                              <v-list-item-title v-text="node.id"></v-list-item-title>
                            </v-list-item-content>
                            <v-list-item-icon class="ma-0">
                              <v-btn v-for="prefix in node.ref_prefixes" :key="prefix" icon @click="zoom_graph_on(prefix+node.id)">
                                <v-icon :color="(prefix === '' ? 'green' : 'red') + ' darken-2'">{{ prefix === '' ? 'mdi-arrow-down-thick' : 'mdi-arrow-top-right-thick'}}</v-icon>
                              </v-btn>
                            </v-list-item-icon>
                            <v-list-item-action class="ma-0">
                              <v-btn icon @click="remove_branch(node.id)">
                                <v-icon>mdi-close-circle-outline</v-icon>
                              </v-btn>
                            </v-list-item-action>
                          </v-list-item>
                        </draggable>
                      </v-list-item-group>
                    </v-list>
                  </v-expansion-panel-content>
                </v-expansion-panel>
                <v-expansion-panel>
                  <v-expansion-panel-header>Branches</v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <v-text-field v-model="search" label="Search" clearable
                      clear-icon="mdi-close-circle-outline"></v-text-field>
                    <v-treeview dense shaped selectable return-object activatable open-on-click
                      v-model="settings.branches" :open="settings.opened" :items="items" :search="search"
                      v-on:update:active="selectTree"
                      style="max-height: 600px; overflow: auto;"></v-treeview>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-sheet>
            <splitpanes class="graph_bar" horizontal watch-slots :splitpanes-size="100 - sidebarSize" height="100%" @resized="toggleCommitResized($event)">
              <v-sheet :splitpanes-size="100 - commitTabSize" class="graph" height="100%">
              </v-sheet>
              <v-tabs v-model="commit_tab" class="commit_tab" :splitpanes-size="commitTabSize">
                <v-tabs-slider></v-tabs-slider>
                <v-tab v-for="commit in commits" :key="commit.id">
                  {{ commit.id.substring(0,8) }}
                  <v-btn icon @click.close="removeCommitTab(commit.id)"><v-icon dense>mdi-close</v-icon></v-btn>
                </v-tab>
                <v-tab-item v-for="commit in commits" :key="commit.id">
                  <gitlost-commit inline-template :commit="commit" :key="commit.id">
                    <v-sheet>
                      <pre class="commit_text">{{ commit.text }}</pre>
                    </v-sheet>
                  </gitlost-commit>
                </v-tab-item>
              </v-tabs>
            </splitpanes>
          </splitpanes>
        </v-card>
      </gitlost-graph>
      </v-content>
    </v-app>
  </div>
  <script>

    var vm = new Vue({
      el: '#app',
      components: { splitpanes },
      vuetify: new Vuetify(),
      data() {
        return {
          repos: [],
          selected_repos: [],
          selected_repos_indexes: [],
        }
      },
      methods: {
        add_repo: function(event) {
          var repo = event.target.value;
          console.log(repo);
          axios.get('/git/status', { headers: { 'gitlost-repo': repo }})
          .then(result => {
            this.repos.push(repo);
            this.selected_repos.push(repo);
            event.target.value = '';
          })
        },
        remove_repo: function(repo) {
          var index = this.repos.indexOf(repo);
          if (index !== -1) this.repos.splice(index, 1);
        },

      },
      mounted() {
        if (localStorage.gitlost_repos) {
          this.repos = JSON.parse(localStorage.gitlost_repos || '[]');
          this.selected_repos = JSON.parse(localStorage.gitlost_selected_repos || '[]');
          this.selected_repos_indexes = this.selected_repos.map(repo => this.repos.indexOf(repo));
        }
      },
      watch: {
        repos(new_repos) {
          localStorage.gitlost_repos = JSON.stringify(new_repos);
        },
        selected_repos_indexes(new_selected_repos_indexes) {
          localStorage.gitlost_selected_repos = JSON.stringify(new_selected_repos_indexes.map(i => this.repos[i]));
        },
      }
    })
  </script>
</body>

</html>